.header {
  background: none;
  height: rem(100px);
}

.nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: inherit;
  border: 1px solid red;
  color: whitesmoke;
  font-size: 14px;
}

.link {
  cursor: pointer;
}
