@import "/_mantine.scss";

.header {
  background: transparent;
  height: rem(100px);
  position: relative;
  z-index: 9999999;
}

.nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: whitesmoke;
  font-size: 14px;
}

.icon {
  background-color: transparent;
  border: 1px solid rgba(245, 245, 245, 0.3);
  border-radius: var(--mantine-radius-xl);
  color: white;
  padding: 8px;
  cursor: pointer;

  @include hover {
    background-color: rgba(245, 245, 245, 0.2);
    padding: 8px;
    border: none;
  }

  &[data-name="LinkedIn"] {
    @include hover {
      color: var(--mantine-color-blue-5);
    }
  }
  &[data-name="WhatsApp"] {
    @include hover {
      color: var(--mantine-color-green-5);
    }
  }
  &[data-name="Instagram"] {
    @include hover {
      color: var(--mantine-color-red-5);
    }
  }
}

.burger {
  --burger-color: whitesmoke;
}
