@import "/_mantine.scss";

.header {
  background: none;
  height: rem(100px);
}

.nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: whitesmoke;
  font-size: 14px;
}

.link {
  cursor: pointer;
  padding: 0.1em;
  transition: color 0.1s ease-in;

  &:hover {
    color: $primary-color;
  }
}
