.card {
  position: relative;
}

.image {
  border-radius: var(--mantine-radius-lg);
}

.overlay {
  position: absolute;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;

  &:hover {
    opacity: 1;
    backdrop-filter: blur(5px);
  }
}
