.root {
  color: whitesmoke;
  padding: 2rem 0;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.line {
  position: absolute;
  width: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 2rem - 300px);
  background-color: white;
  opacity: 0.1;
  z-index: 1;
}

.line2 {
  position: absolute;
  width: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  z-index: 2;
}

.mobile-root {
  color: whitesmoke;
  padding: 0.5rem;
  width: 100%;
  position: relative;
}

.mobile-line {
  position: absolute;
  width: 2px;
  top: 0;
  left: 6%;
  height: calc(100% - 2rem - 300px);
  background-color: white;
  opacity: 0.1;
  z-index: 1;
}

.mobile-line2 {
  position: absolute;
  width: 2px;
  top: 0;
  left: 6%;
  background-color: white;
  z-index: 2;
}
