@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&display=swap");

.text {
  margin: 0 30px;
  font-family: "Libre Baskerville";
  color: transparent;
  /* -webkit-text-stroke: 1px rgba($color: whitesmoke, $alpha: 0.5); */
}
