.intro {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999998;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.container {
  position: fixed;
  gap: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
